@import _resets
@import _fonts
@import _variables
@import _main
body
    background-color: $black
    font-family: 'Golos Text' 
.wrapper
    max-width: 1440px
    height: 100%
    margin: auto
    // border: 1px solid red
    border-radius: 20px
    display: flex
    justify-content: center

.navigation
    min-width: 1390px
    position: fixed
    top: 20px
    z-index: 10
    font-family: 'Golos Text' 
    min-height: 80px
    background-color: red
    display: flex
    justify-content: center
    border-radius: 28px
    background: rgba(30, 30, 30, 0.7)


.navigation_wrapper
    width: 97%
    display: flex
    justify-content: space-between
    align-items: center
    border-color: green
.nav_item
    width: 60%
    display: flex
    justify-content: space-between
    align-items: center
    color: $white
    font-size: 18px
.nav_request
    display: flex
    justify-content: space-between
    align-items: center
    width: 30%
    font-size: 16px
    color: $white
    
    
.btn_request
    font-size: 16px
    width: 165px
    height: 44px
    border-radius: 14px
    background-color: $blue-btn
    color: $white
    // font-family: 'Golos'
.main
    margin-top: -100px
    z-index: 1
    // background: $black
    height: 100vh
    // margin-top: -150px
    z-index: 1
    width: 100%
    // background-image: url('../assets/images/bg/1ViewPort.png');
    // border-radius: 28px
    // background-position-y: 10%;
    background-repeat: no-repeat;



//first block

// .first_block
//     background-image: url('../assets/images/bg/Ellipses.png')
//     background-position-y: 105%
//     background-position-x: center

.wrapper_first_block
    padding: 374px 72px 0px 72px
    display: flex
.first_block_content
    display: flex



#text_change_slides
	position: relative
    font-size: 80px

.slide_text
	position: absolute
	left: 0px
	top: 0px
	opacity: 0
	z-index: 1
	-webkit-transition: opacity 1s
	-moz-transition: opacity 1s
	-o-transition: opacity 1s
	transition: opacity 1s
    transition:  opacity 1s

.showing
	opacity: 1
	z-index: 2

.title
    display: flex
    flex-direction: column

.title_block, .slide_text
    font-size: 80px
    font-weight: 700
    color: $white

.title_descr_first
    padding-top: 112px
    width: 64%
    line-height: 30px
    font-size: 20px
    color: rgba(234, 234, 234, 1)
.title_descr
    padding-top: 18px
    width: 64%
    line-height: 30px
    font-size: 20px
    color: rgba(234, 234, 234, 1)
.apps_icon
    padding-top: 30px
    display: flex
    gap: 10px
.app_apple_link
    display: block
    width: 164px
    height: 56px
    background-color: $social-link
    border-radius: 16px
    text-align: center

.img_apps_icons
    transform: translateY(28%)
.img_goole_icons
    transform: translateY(30%)

.app_google_link
    display: block
    width: 183px
    height: 56px
    background-color: $social-link
    border-radius: 16px
    text-align: center
.qr_code_link
    display: block
    width: 56px
    height: 56px
    background-color: $social-link
    border-radius: 16px
    text-align: center
.img_qr_link
    transform: translateY(37%)
.first_block
    // border: 1px solid green
    // padding-top: 200px
    // background-image: url('../assets/images/bg/Group1.png');
    // border-radius: 28px
    // background-position-y: 87%;
    // background-position-x: -157%;
.right_part_img
    margin-top: 120px
    position: absolute
    background-repeat: no-repeat;
    transform: translate(236%, -18%)
    z-index: 100
    // position: absolute
    // top: 0px
    // margin-top: 120px
    // position: absolute
    // background-repeat: no-repeat;
    // transform: translate(236%, -18%)
    z-index: 100

.wrapper_content_block
    padding: 126px 159px;
.content_block_one
    padding-bottom: 200px
.content_block_two
    z-index: 1
    padding-top: 74px
    padding-bottom: 272px
.content_block_three
    z-index: 1
    // padding-top: 74px
    padding-bottom: 59px   

.ellipse_one
    position: absolute
    transform: translate(26%, -50%)

.ellipse_img_one
    // display: block
    // position: absolute
    // // width: 300px
    // // height: 300px
    // position: relative
    // top: -500px
    // right: -58%


.content_block_one
    // background-image: url('../assets/images/bg/Ellipses-block1.png');
    // // background-position: right
    // // background-repeat: no-repeat;
    // // background-position-x: center;
    // background-position: 0% 0%
.content_block_two
    // background-image: url('../assets/images/bg/Ellipses-block2.png');
    // // background-position: right
    // background-repeat: no-repeat;
    // background-position-x: 158%;
    // background-position-y: 83%;
// .content_block_three
//     background-image: url('../assets/images/bg/Content_block_three.png');
//     // background-position: right
//     // background-repeat: no-repeat;
//     background-position-x: 191%;
//     background-position-y: 35%;
.subheader_content_block
    width: 55%
    color: $white
    font-size: 48px
    font-weight: 600
    line-height: 54px
.title_descr_block1
    width: 32%
    padding-top: 18px
.text_content_block3
    // transform: translateY(-130%)
    // background-image: url('../assets/images/bg/Ellipses-block3.png');
    // background-repeat: no-repeat;
    // background-position-x: 191%;
    // background-position-y: 20%;
.title_descr_block2
    width: 57%
.title_descr_block3
    width: 45%
.ellipse_tree
    position: absolute
    transform: translate(32%, -50%)
.ellipse_two
    position: absolute
    transform: translate(27%, -44%)
.ellipse_first
    position: absolute
    transform: translate(15%, -52%)
.ellipse_first_one
    position: absolute
    transform: translate(-32%, -63%)
// .ellips_img_three
//     width: 500px
//     height: 500px